
{% extends 'base.html' %}

{% load static %}

{% block contenido %}
<button><a href="{% url 'nuevo_vuelo' %}" method ="GET">Crear Nuevo Vuelo</a></button>
       <div class="contenedor_formulario">
            <h2 align="center">Viajes AeroChile</h2>
            <center>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Origen</th>
                        <th scope="col">Destino</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                        
                        {% for a in travels  %}
                        {% if a.state == "Agendado" %}
                        <tr class="bg-success">
                          <th scope="row">{{a.code}}</th>
                          <td>{{a.origin}}</td>
                          <td>{{a.destination}}</td>
                          <td>{{a.flight_date}}</td>
                          <td><button class = "m-2" ><a href="flights/{{a.code}}/newpassenger">Agregar Pasajero</a></button><button><a href="flights/{{a.code}}">Ver Vuelo</a></button><button class = "m-2"><a href="completar/{{a.id}}">Completar</a></button> </td>
                        </tr>
                        {% else %}
                        <tr class="bg-danger">
                          <th scope="row">{{a.code}}</th>
                          <td>{{a.origin}}</td>
                          <td>{{a.destination}}</td>
                          <td>{{a.flight_date}}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                  </table>
            </center>
        </div>
        <br> 
{% endblock %}