
{% extends 'base.html' %}

{% load static %}

{% block contenido %}
       <div class="contenedor_formulario">
            <h2 align="center">Proyectos Sistema de Evaluacion Ambiental</h2>
            <center>
                <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center" scope="col">N°</th>
                        <th class="text-center" scope="col">Nombre</th>
                        <th class="text-center" scope="col">Tipo</th>
                        <th class="text-center" scope="col">Región</th>
                        <th class="text-center" scope="col">Tipología	</th>
                        <th class="text-center" scope="col">Titular</th>
                        <th class="text-center" scope="col">Inversión(MMU$)</th>
                        <th class="text-center" scope="col">Fecha Presentación Fecha de Ingreso</th>
                        <th class="text-center" scope="col">Estado</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>
                          <td>

                          </td>
                        </th>
                      </tr>
                      <!-- {% for a in stations %}
                      <tr class="">
                        <th  scope="row"><a href="description/{{a.id}}/" style="text-decoration:none;color:black">{{a.name}}</a></th>
                        <td>{{a.address}}</td>
                        {% if not a.free_bikes %}
                          <td class="btn-danger  text-center">{{a.free_bikes}}</td>
                        {% elif a.free_bikes < 3 %}
                          <td class="btn-warning text-center">{{a.free_bikes}}</td>
                        {% else %}
                          <td class=" btn-success text-center ">{{a.free_bikes}}</td>
                        {% endif %}
                      </tr>
                      {% endfor %} -->

                    </tbody>
                  </table>
            </center>
        </div>
        <br> 
{% endblock %}